import { Collection, JSCodeshift } from "jscodeshift";
import singleNodeCollectionValidator from "../validators/singleNodeCollection.finder.validator";
import { {!template}FinderOptions } from "@src/@types/finder";

export default function {template}Finder<T>(
  jcs: JSCodeshift,
  collection: Collection<T>,
  options: {!template}FinderOptions
) {
  return singleNodeCollectionValidator(
    collection.find(jcs.Identifier, { name: options.name }){find},
    "{collection}"
  );
}
